__pycache__
_version.py
.DS_Store
.envrc
.vscode
*.csv
*.egg-info
*.html
*.tar.gz
*.xlsx
dist
!example_subject_schools.csv
!example_subject_students.csv
!example_subject_student_school_failures.csv
!example_subject_student_school_journeys.csv
.ipynb_checkpoints/reproducible-example-checkpoint.ipynb
